body,
html {
    background-color: #fff;
    padding: 0;
    margin: 0;
    outline: none;
}

.apps {
    max-width: 20px;
    max-height: 20px;
}

#navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

#navbar ul {
    list-style: none;
    text-align: right;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.pic {
    background-color: greenyellow;
    padding: 10px;
    font-weight: bolder;
    border: solid 1px grey;
    border-radius: 40px;
}

#navbar ul li {
    display: inline;
    margin-right: 10px;
}

#main {
    text-align: center;
    max-width: 100%;
    margin: 200px 0;
}

#main input {
    display: block;
    padding: 10px 200px;
    margin: 30px auto;
    border: grey solid 1px;
    border-radius: 20px;
}

#main button {
    padding: 10px;
    margin: auto 10px;
    border: grey solid 1px;
    border-radius: 10px;
}

#footer {
    border-top: solid 0.5px rgba(250, 150, 200, 0.4);
    background-color: #f2f2f2;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#footer ul li {
    display: inline-block;
    padding-right: 10px;
}
